

table {
    width: 40%;
    margin: center;
    border-collapse: collapse;
}

th, td {
    border-bottom: 3px solid #ddd;
    

    text-align: center;

}


td {
    border-bottom: 3px solid #ddd;
    padding: 10px;
color: #444;
    text-align: center;

}

th {
    border-bottom: 3px solid #ddd;
    padding: 5px;
color: #444;
    text-align: center;

}


td input[type="text"] {
    width: 90%;
}
